.custom-shape-divider-bottom-1746526066 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1746526066 svg {
    position: relative;
    display: block;
    width: calc(194% + 1.3px);
    height: 450px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1746526066 .shape-fill {
    fill: #4EC7D4;
}
